# IPL SCORE PREDICTION

### Imporing libraries and datas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ball_by_ball_orig = pd.read_csv('../Data/IPL_Ball_by_Ball_2008_2022.csv')
matches_result_orig = pd.read_csv('../Data/IPL_Matches_Result_2008_2022.csv')

In [3]:
ball_by_ball_orig.shape
ball_by_ball_orig.head(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
matches_result_orig.shape
matches_result_orig.head(7)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
5,1304115,Mumbai,2022-05-21,2022,69,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,N,Mumbai Indians,Wickets,5.0,NaN,JJ Bumrah,"['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...","['Ishan Kishan', 'RG Sharma', 'D Brevis', 'Til...",Nitin Menon,Tapan Sharma
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan

## Data Cleaning (Removing unwanted columns)

In [5]:
# Renaming columns for ball_by_ball DataFrame
ball_by_ball = ball_by_ball_orig.rename(columns={
    'ID': 'match_id',
    'ballnumber': 'ball_number',
    'non-striker': 'non_striker',
    'BattingTeam': 'batting_team',
})

# selecting columns for ball_by_ball DataFrame
ball_by_ball = ball_by_ball.loc[:, [
    'match_id',
    'innings',
    'batting_team',
    'overs',
    'ball_number',
    'batter',
    'bowler',
    'total_run',
]]
# The loc method is used to select specific columns in the DataFrame using the labels.
# final DataFrame ball_by_ball is a subset of the original DataFrame ball_by_ball_orig,
# containing only the specified columns with the renamed column names.

# Renaming and selecting columns for matches_result DataFrame
matches_result = matches_result_orig.rename(columns={
    'ID': 'match_id',
    'Team1': 'team_1',
    'Team2': 'team_2',
    'Venue': 'venue',
}).loc[:, [
    'match_id',
    'team_1',
    'team_2',
    'venue',
]]

In [6]:
ball_by_ball.head()

,match_id,innings,batting_team,overs,ball_number,batter,bowler,total_run
0,1312200,1,Rajasthan Royals,0,1,YBK Jaiswal,Mohammed Shami,0
1,1312200,1,Rajasthan Royals,0,2,YBK Jaiswal,Mohammed Shami,1
2,1312200,1,Rajasthan Royals,0,3,JC Buttler,Mohammed Shami,1
3,1312200,1,Rajasthan Royals,0,4,YBK Jaiswal,Mohammed Shami,0
4,1312200,1,Rajasthan Royals,0,5,YBK Jaiswal,Mohammed Shami,0

In [7]:
matches_result.head()

,match_id,team_1,team_2,venue
0,1312200,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad"
1,1312199,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad"
2,1312198,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata"
3,1312197,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata"
4,1304116,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai"

## Team and venue name Normalisation

In [8]:
# https://www.iplt20.com/matches/schedule/men

venue_mapping_normal = {
    "Arun Jaitley Stadium": "Arun Jaitley Stadium",
    "Arun Jaitley Stadium, Delhi": "Arun Jaitley Stadium",
    "Feroz Shah Kotla": "Arun Jaitley Stadium",
    "Barsapara Cricket Stadium": "Barsapara Cricket Stadium",
    "Barsapara Cricket Stadium, Guwahati": "Barsapara Cricket Stadium",
    "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "Eden Gardens": "Eden Gardens",
    "Eden Gardens, Kolkata": "Eden Gardens",
    "Himachal Pradesh Cricket Association Stadium": "Himachal Pradesh Cricket Association Stadium",
    "Himachal Pradesh Cricket Association Stadium, Dharamsala": "Himachal Pradesh Cricket Association Stadium",
    "M Chinnaswamy Stadium": "M Chinnaswamy Stadium",
    "M Chinnaswamy Stadium, Bengaluru": "M Chinnaswamy Stadium",
    "M Chinnaswamy Stadium, Bangalore": "M Chinnaswamy Stadium",
    "M.Chinnaswamy Stadium": "M Chinnaswamy Stadium",
    "M.Chinnaswamy Stadium, Bengaluru": "M Chinnaswamy Stadium",
    "M.Chinnaswamy Stadium, Bangalore": "M Chinnaswamy Stadium",
    "MA Chidambaram Stadium": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chennai": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chepauk": "MA Chidambaram Stadium",
    "MA Chidambaram Stadium, Chepauk, Chennai": "MA Chidambaram Stadium",
    "Narendra Modi Stadium": "Narendra Modi Stadium",
    "Narendra Modi Stadium, Ahmedabad": "Narendra Modi Stadium",
    "Punjab Cricket Association IS Bindra Stadium": "Punjab Cricket Association IS Bindra Stadium",
    "Punjab Cricket Association IS Bindra Stadium, Mohali": "Punjab Cricket Association IS Bindra Stadium",
    "Punjab Cricket Association Stadium, Mohali": "Punjab Cricket Association IS Bindra Stadium",
    "Rajiv Gandhi International Stadium": "Rajiv Gandhi International Stadium",
    "Rajiv Gandhi International Stadium, Hyderabad": "Rajiv Gandhi International Stadium",
    "Rajiv Gandhi International Stadium, Uppal": "Rajiv Gandhi International Stadium",
    "Sawai Mansingh Stadium": "Sawai Mansingh Stadium",
    "Sawai Mansingh Stadium, Jaipur": "Sawai Mansingh Stadium",
    "Wankhede Stadium": "Wankhede Stadium",
    "Wankhede Stadium, Mumbai": "Wankhede Stadium"
}

In [9]:
    venue_mapping_kebab = {
    "arun-jaitley-stadium": "Arun Jaitley Stadium",
    "arun-jaitley-stadium-delhi": "Arun Jaitley Stadium",
    "feroz-shah-kotla": "Arun Jaitley Stadium",
    "barsapara-cricket-stadium": "Barsapara Cricket Stadium",
    "barsapara-cricket-stadium-guwahati": "Barsapara Cricket Stadium",
    "bharat-ratna-shri-atal-bihari-vajpayee-ekana-cricket-stadium": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "bharat-ratna-shri-atal-bihari-vajpayee-ekana-cricket-stadium-lucknow": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "eden-gardens": "Eden Gardens",
    "eden-gardens-kolkata": "Eden Gardens",
    "himachal-pradesh-cricket-association-stadium": "Himachal Pradesh Cricket Association Stadium",
    "himachal-pradesh-cricket-association-stadium-dharamsala": "Himachal Pradesh Cricket Association Stadium",
    "m-chinnaswamy-stadium": "M Chinnaswamy Stadium",
    "m-chinnaswamy-stadium-bengaluru": "M Chinnaswamy Stadium",
    "m-chinnaswamy-stadium-bangalore": "M Chinnaswamy Stadium",
    "mchinnaswamy-stadium": "M Chinnaswamy Stadium",
    "mchinnaswamy-stadium-bengaluru": "M Chinnaswamy Stadium",
    "mchinnaswamy-stadium-bangalore": "M Chinnaswamy Stadium",
    "ma-chidambaram-stadium": "MA Chidambaram Stadium",
    "ma-chidambaram-stadium-chennai": "MA Chidambaram Stadium",
    "ma-chidambaram-stadium-chepauk": "MA Chidambaram Stadium",
    "ma-chidambaram-stadium-chepauk-chennai": "MA Chidambaram Stadium",
    "narendra-modi-stadium": "Narendra Modi Stadium",
    "narendra-modi-stadium-ahmedabad": "Narendra Modi Stadium",
    "punjab-cricket-association-is-bindra-stadium": "Punjab Cricket Association IS Bindra Stadium",
    "punjab-cricket-association-is-bindra-stadium-mohali": "Punjab Cricket Association IS Bindra Stadium",
    "punjab-cricket-association-stadium-mohali": "Punjab Cricket Association IS Bindra Stadium",
    "rajiv-gandhi-international-stadium": "Rajiv Gandhi International Stadium",
    "rajiv-gandhi-international-stadium-hyderabad": "Rajiv Gandhi International Stadium",
    "rajiv-gandhi-international-stadium-uppal": "Rajiv Gandhi International Stadium",
    "sawai-mansingh-stadium": "Sawai Mansingh Stadium",
    "sawai-mansingh-stadium-jaipur": "Sawai Mansingh Stadium",
    "wankhede-stadium": "Wankhede Stadium",
    "wankhede-stadium-mumbai": "Wankhede Stadium"
}

In [10]:
venue_mapping_tags = {
    "delhi": "Arun Jaitley Stadium",
    "arun jaitley": "Arun Jaitley Stadium",
    "guwahati": "Barsapara Cricket Stadium",
    "barsapara": "Barsapara Cricket Stadium",
    "bhupen hazarika": "Barsapara Cricket Stadium",
    "assam cricket association stadium": "Barsapara Cricket Stadium",
    "lucknow": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "ekana": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "atal bihari": "Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium",
    "kolkata": "Eden Gardens",
    "eden gardens": "Eden Gardens",
    "dharamsala": "Himachal Pradesh Cricket Association Stadium",
    "himachal pradesh": "Himachal Pradesh Cricket Association Stadium",
    "bengaluru": "M Chinnaswamy Stadium",
    "bengalore": "M Chinnaswamy Stadium",
    "chinnaswamy": "M Chinnaswamy Stadium",
    "chennai": "MA Chidambaram Stadium",
    "chepauk": "MA Chidambaram Stadium",
    "chidambaram": "MA Chidambaram Stadium",
    "ahmedabad": "Narendra Modi Stadium",
    "narendra modi": "Narendra Modi Stadium",
    "mohali": "Punjab Cricket Association IS Bindra Stadium",
    "punjab cricket association": "Punjab Cricket Association IS Bindra Stadium",
    "is bindra": "Punjab Cricket Association IS Bindra Stadium",
    "hyderabad": "Rajiv Gandhi International Stadium",
    "rajiv gandhi": "Rajiv Gandhi International Stadium",
    "jaipur": "Sawai Mansingh Stadium",
    "sawai mansingh": "Sawai Mansingh Stadium",
    "mumbai": "Wankhede Stadium",
    "wankhede": "Wankhede Stadium"
}

In [11]:
# venues in `matches_result` which aren't present in `venue_mapping_normal.keys`,
# collectively considered as `Other` venue after mapping
np.setdiff1d(matches_result.venue.unique(), list(venue_mapping_normal.keys()))

array(['Barabati Stadium', 'Brabourne Stadium',
       'Brabourne Stadium, Mumbai', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr DY Patil Sports Academy, Mumbai',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Green Park',
       'Holkar Cricket Stadium', 'JSCA International Stadium Complex',
       'Kingsmead', 'Maharashtra Cricket Association Stadium',
       'Maharashtra Cricket Association Stadium, Pune', 'Nehru Stadium',
       'New Wanderers Stadium', 'Newlands', 'OUTsurance Oval',
       'Sardar Patel Stadium, Motera',
       'Saurashtra Cricket Association Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Zayed Cricket Stadium, Abu Dhabi'], dtype=object)

In [12]:
set(matches_result['team_1'].unique()) == set(
    matches_result['team_2'].unique()) == set(ball_by_ball['batting_team'].unique())

True

In [13]:
team_mapping = {
    'Rajasthan Royals': 'Rajasthan Royals',
    'Gujarat Titans': 'Gujarat Titans',
    'Royal Challengers Bangalore': 'Royal Challengers Bangalore',
    'Lucknow Super Giants': 'Lucknow Super Giants',
    'Sunrisers Hyderabad': 'Sunrisers Hyderabad',
    'Mumbai Indians': 'Mumbai Indians',
    'Chennai Super Kings': 'Chennai Super Kings',
    'Kolkata Knight Riders': 'Kolkata Knight Riders',
    'Kings XI Punjab': 'Punjab Kings',
    'Punjab Kings': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals',
    'Delhi Capitals': 'Delhi Capitals',
}

In [14]:
# teams in `team_mapping.keys` which aren't present in `matches_result`
# before mapping: [], after mapping: ['Delhi Daredevils', 'Kings XI Punjab']
np.setdiff1d(
    list(team_mapping.keys()), matches_result['team_1'].unique()
)

array([], dtype='<U27')

In [15]:
# teams in `matches_result` which aren't present in `team_mapping.keys`,
# collectively considered as `Other` team after mapping
np.setdiff1d(
    matches_result['team_1'].unique(), list(team_mapping.keys())
)

# before mapping:  array(['Deccan Chargers', 'Gujarat Lions', 'Kochi Tuskers Kerala',
#                       'Pune Warriors', 'Rising Pune Supergiant',
#                      'Rising Pune Supergiants'], dtype=object)

array(['Deccan Chargers', 'Gujarat Lions', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiant',
       'Rising Pune Supergiants'], dtype=object)

## Applying team and venue mapping

In [16]:
matches_result.venue = matches_result['venue'] =\
matches_result.venue.map(venue_mapping_normal).fillna('Other_ven')

# matches_result.venue.map(venue_mapping_normal): This maps values in the 'venue' column 
# using the venue_mapping_normal function or dictionary.
# It replaces each value in the 'venue' column with its corresponding mapped value.

In [17]:
matches_result.team_1 = matches_result.team_1.map(team_mapping).fillna('Other')
matches_result.team_2 = matches_result.team_2.map(team_mapping).fillna('Other')

In [18]:
ball_by_ball.batting_team = ball_by_ball.batting_team.map(team_mapping).fillna('Other')

## Mapping verification

In [19]:
# new venues in ipl23: ['Barsapara Cricket Stadium', 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium']

list_of_ipl23_venues = ['Arun Jaitley Stadium', 'Barsapara Cricket Stadium',
                        'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
                        'Eden Gardens', 'Himachal Pradesh Cricket Association Stadium',
                        'M Chinnaswamy Stadium', 'MA Chidambaram Stadium',
                        'Narendra Modi Stadium',
                        'Punjab Cricket Association IS Bindra Stadium',
                        'Rajiv Gandhi International Stadium', 'Sawai Mansingh Stadium',
                        'Wankhede Stadium']

list_of_ipl23_teams = ['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Titans',
                       'Kolkata Knight Riders', 'Lucknow Super Giants', 'Mumbai Indians',
                       'Punjab Kings', 'Rajasthan Royals', 'Royal Challengers Bangalore',
                       'Sunrisers Hyderabad']

In [20]:
# list_of_ipl23_venues == venue_mapping_normal
np.array_equal(np.unique(
    list(venue_mapping_normal.values())
), list_of_ipl23_venues)

# list_of_ipl23_teams == team_mapping
np.array_equal(np.unique(
    list(team_mapping.values())
), list_of_ipl23_teams)

# The function returns True if the arrays are equal and False otherwise.
# The equality comparison is done element-wise, and the arrays must have the same shape.

True

## Normalizing overs and innings in ball by ball

In [21]:
ball_by_ball['overs'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19], dtype=int64)

In [22]:
ball_by_ball['innings'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [23]:
ball_by_ball = ball_by_ball.loc[(ball_by_ball.overs <= 5) & (ball_by_ball.innings <= 2)]
# DataFrame will contain only those rows from ball_by_ball where both conditions are true.

# ðŸŽ‡Integration of ball_by_ball and matches_results

In [24]:
ball_by_ball

,match_id,innings,batting_team,overs,ball_number,batter,bowler,total_run
0,1312200,1,Rajasthan Royals,0,1,YBK Jaiswal,Mohammed Shami,0
1,1312200,1,Rajasthan Royals,0,2,YBK Jaiswal,Mohammed Shami,1
2,1312200,1,Rajasthan Royals,0,3,JC Buttler,Mohammed Shami,1
3,1312200,1,Rajasthan Royals,0,4,YBK Jaiswal,Mohammed Shami,0
4,1312200,1,Rajasthan Royals,0,5,YBK Jaiswal,Mohammed Shami,0
...,...,...,...,...,...,...,...,...
225886,335982,2,Royal Challengers Bangalore,5,2,W Jaffer,AB Dinda,0
225887,335982,2,Royal Challengers Bangalore,5,3,MV Boucher,AB Dinda,0
225888,335982,2,Royal Challengers Bangalore,5,4,MV Boucher,AB Dinda,1
225889,335982,2,Royal Challengers Bangalore,5,5,CL White,AB Dinda,1
225890,335982,2,Royal Challengers Bangalore,5,6,MV Boucher,AB Dinda,0

In [25]:
matches_result

,match_id,team_1,team_2,venue
0,1312200,Rajasthan Royals,Gujarat Titans,Narendra Modi Stadium
1,1312199,Royal Challengers Bangalore,Rajasthan Royals,Narendra Modi Stadium
2,1312198,Royal Challengers Bangalore,Lucknow Super Giants,Eden Gardens
3,1312197,Rajasthan Royals,Gujarat Titans,Eden Gardens
4,1304116,Sunrisers Hyderabad,Punjab Kings,Wankhede Stadium
...,...,...,...,...
945,335986,Kolkata Knight Riders,Other,Eden Gardens
946,335985,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium
947,335984,Delhi Capitals,Rajasthan Royals,Arun Jaitley Stadium
948,335983,Punjab Kings,Chennai Super Kings,Punjab Cricket Association IS Bindra Stadium
949,335982,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium

In [26]:
len(ball_by_ball.match_id.unique())

950

In [34]:
# to find if any data is missing or not
for match_id in ball_by_ball['match_id'].unique():
    
# The .query method in pandas is used to filter rows from a DataFrame based on a boolean expression.
    l1 = len(ball_by_ball.query(f'match_id == {match_id}').query('innings == 1'))
# it's used to filter rows from the ball_by_ball DataFrame for a specific match_id and a specific value of innings
# So, the overall expression is retrieving rows from ball_by_ball where the match_id is equal to the current
# match_id in the loop and the innings is equal to 1

    l2 = len(ball_by_ball.query(f'match_id == {match_id}').query('innings == 2'))

    if l1 == 0 or l2 == 0:
        print(match_id, l1, l2)
        continue
        
# these two are the values of balls in 2nd inning which is 0, so they are missiing from the dataframe
# 829763 38 0
# 501265 37 0

829763 38 0
501265 37 0

In [45]:
ball_by_ball.loc[(ball_by_ball['match_id'] == 1312200) & (ball_by_ball['innings'] == 1)]
ball_by_ball.loc[(ball_by_ball['match_id'] == 1312200) & (ball_by_ball['innings'] == 1)].agg({
    'total_run': 'sum',
    'batter': 'unique',
    'bowler': 'unique',
})

# .agg({}): This is used for aggregation.It allows you to specify different aggregation functions for different columns.
# 'sum': This calculates the sum of the 'total_run' column for the selected rows.
# 'unique': This returns the unique values in the 'batter' column for the selected rows.

total_run                                                   44
batter                    [YBK Jaiswal, JC Buttler, SV Samson]
bowler       [Mohammed Shami, Yash Dayal, LH Ferguson, Rash...
dtype: object

In [ ]:
grouped_data = ball_by_ball.groupby(['match_id', 'innings', 'batting_team'])
grouped_data = [(name, group) for name, group in grouped_data]

len(grouped_data)

name, group = [(name, group) for name, group in grouped_data][0]
name
group

In [53]:
grouped_data = ball_by_ball.groupby(['match_id', 'innings', 'batting_team'])
     
grouped_data = [(name, group) for name, group in grouped_data][0]

grouped_data

((335982, 1, 'Kolkata Knight Riders'),
         match_id  innings           batting_team  overs  ball_number  \
 225729    335982        1  Kolkata Knight Riders      0            1
 225730    335982        1  Kolkata Knight Riders      0            2
 225731    335982        1  Kolkata Knight Riders      0            3
 225732    335982        1  Kolkata Knight Riders      0            4
 225733    335982        1  Kolkata Knight Riders      0            5
 225734    335982        1  Kolkata Knight Riders      0            6
 225735    335982        1  Kolkata Knight Riders      0            7
 225736    335982        1  Kolkata Knight Riders      1            1
 225737    335982        1  Kolkata Knight Riders      1            2
 225738    335982        1  Kolkata Knight Riders      1            3
 225739    335982        1  Kolkata Knight Riders      1            4
 225740    335982        1  Kolkata Knight Riders      1            5
 225741    335982        1  Kolkata Knight Riders      1            6
 225742    335982        1  Kolkata Knight Riders      2            1
 225743    335982        1  Kolkata Knight Riders      2            2
 225744    335982        1  Kolkata Knight Riders      2            3
 225745    335982        1  Kolkata Knight Riders      2            4
 225746    335982        1  Kolkata Knight Riders      2            5
 225747    335982        1  Kolkata Knight Riders      2            6
 225748    335982        1  Kolkata Knight Riders      3            1
 225749    335982        1  Kolkata Knight Riders      3            2
 225750    335982        1  Kolkata Knight Riders      3            3
 225751    335982        1  Kolkata Knight Riders      3            4
 225752    335982        1  Kolkata Knight Riders      3            5
 225753    335982        1  Kolkata Knight Riders      3            6
 225754    335982        1  Kolkata Knight Riders      3            7
 225755    335982        1  Kolkata Knight Riders      4            1
 225756    335982        1  Kolkata Knight Riders      4            2
 225757    335982        1  Kolkata Knight Riders      4            3
 225758    335982        1  Kolkata Knight Riders      4            4
 225759    335982        1  Kolkata Knight Riders      4            5
 225760    335982        1  Kolkata Knight Riders      4            6
 225761    335982        1  Kolkata Knight Riders      5            1
 225762    335982        1  Kolkata Knight Riders      5            2
 225763    335982        1  Kolkata Knight Riders      5            3
 225764    335982        1  Kolkata Knight Riders      5            4
 225765    335982        1  Kolkata Knight Riders      5            5
 225766    335982        1  Kolkata Knight Riders      5            6

              batter     bowler  total_run
 225729   SC Ganguly    P Kumar          1
 225730  BB McCullum    P Kumar          0
 225731  BB McCullum    P Kumar          1
 225732  BB McCullum    P Kumar          0
 225733  BB McCullum    P Kumar          0
 225734  BB McCullum    P Kumar          0
 225735  BB McCullum    P Kumar          1
 225736  BB McCullum     Z Khan          0
 225737  BB McCullum     Z Khan          4
 225738  BB McCullum     Z Khan          4
 225739  BB McCullum     Z Khan          6
 225740  BB McCullum     Z Khan          4
 225741  BB McCullum     Z Khan          0
 225742   SC Ganguly    P Kumar          0
 225743   SC Ganguly    P Kumar          0
 225744   SC Ganguly    P Kumar          1
 225745  BB McCullum    P Kumar          4
 225746  BB McCullum    P Kumar          1
 225747   SC Ganguly    P Kumar          0
 225748  BB McCullum  AA Noffke          5
 225749  BB McCullum  AA Noffke          6
 225750  BB McCullum  AA Noffke          1
 225751   SC Ganguly  AA Noffke          4
 225752   SC Ganguly  AA Noffke          0
 225753   SC Ganguly  AA Noffke          1
 225754  BB McCullum  AA Noffke          6
 225755   SC Ganguly    P Kumar          4
 225756   SC Ganguly    P Kumar          1
 225757  BB McCullum    P Kumar          4
 225758  BB McCullum    P Kumar          0
 225759  BB McCullum    P Kumar          1
 225760   SC Ganguly    P Kumar          0
 225761  BB McCullum     Z Khan          1
 225762   SC Ganguly     Z Khan          0
 225763   RT Ponting     Z Khan          0
 225764   RT Ponting     Z Khan          0
 225765   RT Ponting     Z Khan          0
 225766   RT Ponting     Z Khan          0  )